.bash_history
.bash/history
.cache
cms
cms.wpr
cms.wpu
#.config
#.dbus
#.dbvis
DbVisualizer
#.dircolors
#.distlib
downloads
.erlang.cookie
#.gconf
geotest
#gitdemo
#githooks
#.git_hooks
#git-hooks
#.gitk
#.git_template
#.gstreamer-0.10
img
.install4j
installed
.ipython
.java
.kde
.lesshst
.local
local-dev-setup
localdevsetup2
#.matplotlib
messagetest.wpr
messagetest.wpu
.mozilla
New Project #2.wpr
New Project #2.wpu
.noseids
#.noserc
.nose-stopwatch-times
#.p4merge
#.pep8rc
.pip
plugins
#.profile
.psql_history
.pulse
.pulse-cookie
.pylint.d
#.pylintrc
pywork
repos
#.screenrc
#.selected_editor
.ssh
#TODO
.Trash
venvs
#.vim
.vimbackup
.viminfo
#.vimrc
.vimswap
.vimundo
#.vimviews
.virtualenvs
vmshare
#.wing*
.wingide4
#.wingide5
workingon
*.wp?
#.Xauthority
#.Xresources
